[tool.poetry]
name = "pydatagovgr"
version = "0.1.5"
description = "A Pythonic client for the official https://data.gov.gr API."
authors = ["ilias-ant <ilias.antonopoulos@yahoo.gr>"]
readme = "README.md"
license = "MIT"
homepage = "https://pypi.org/project/pydatagovgr"
repository = "https://github.com/ilias-ant/pydatagovgr"
keywords = ["client", "pip", "govgr", "open-data"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Natural Language :: Greek",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/ilias-ant/pydatagovgr/issues"

[tool.poetry.dependencies]
python = "^3.7"
requests = "~2.25.1"

[tool.poetry.dev-dependencies]
responses = "^0.12.1"
pytest = "^6.2.1"
pytest-cov = "^2.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
